<!-- Abby - Creating header
     Anna - Moving to partial -->
     
<base href="http://localhost:3000/" />
<link rel=""stylesheet" href="utils/style.css" />

<nav class="navbar navbar-expand-lg navbar-success bg-success">
    <a class="navbar-brand" href="home">
        <img class="rounded"
            src="../nextpagelogo.png" alt="" width="40" height="40">
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <div class="form-inline my-2 my-lg-0">
                <div class="container">
                    <div class="dropdown">
                        <a href="#" id="imageDropdown" data-toggle="dropdown">
                            <img src="http://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png" width=40" height="40" id="myBtn">
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="imageDropdown">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="home">Home</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="profile">User Profile</a>
                            </li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="recommendations">Recommendations</a>
                            </li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="search">Search</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="login">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>