<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <link rel="icon" href="../resources/img/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap core CSS -->
    <body style="background-color:rgb(206, 245, 202);">
      <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon' />
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link href="../resources/css/my_style.css" rel="stylesheet">
      </head>
  
      <body>
        <%- include('header'); -%>
        <center><img
          class="rounded-circle"
          src="https://windsorpreschool.com/wp-content/uploads/2017/12/generic-profile-image-7.jpg"
          alt=""
          width="200"
          height="200"
        /></center>
        <center><h1>
          Welcome, <%=username%> <br>
          Update Your Preferences <br>
           </center>
          </h1>
        <center>
          <input class="btn btn-primary" type="reset" value="Logout">
        </center>
  </body>
