<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Register</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
	input[type=username],
	input[type=password] {
		width: 50%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
	}

	body {
		height: 99vh;
		text-align: center;
	}

	img {
		max-width: 10%;
		height: auto;
	}

	button {
		background-color: #04AA6D;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 10%
	}
</style>
<script src="../js/scripts.js"></script>
<body id="grad1" <%if(message!= ''){ %>
	onload="myAlert(<%-message%>)"
<%}%>>

	<form action="/register" method="post">
		<div class="imgcontainer">
			<img src="nextpagelogo.png" alt="nextpagelogo" style="width:10%">
		</div>
		<div class="container">
			<label for="uname"><b>Username</b></label><br>
			<input type="username" id="uname" name = "uname" placeholder="Username" required /><br><br>

			<label for="pword"><b>Password</b></label><br>
			<input type="password" id="pword" name = "pword" placeholder="Password" required /><br><br>

			<label for="conpword"><b>Confirm Password</b></label><br>
			<input type="password" id="conpword" placeholder="Confirm Password"
				required onchange="confirmPassword()"/><br><br>

			<p>Please select genres you are interested in:</p>
			<input type="checkbox" id="genre1" value="Computers", name="genre1">
			<label for="genre1">Computers</label><br>

			<input type="checkbox" id="genre2" value="Juvenile Fiction" name ="genre2">
			<label for="genre2">Juvenile Fiction</label><br>

			<input type="checkbox" id="genre3" value="Fiction" name="genre3">
			<label for="genre3">Fiction</label><br>

			<input type="checkbox" id="genre4" value="History" name="genre4">
			<label for="genre4">History</label><br>

			<input type="checkbox" id="genre5" value="Business & Economics" name="genre5">
			<label for="genre5">Business & Economics</label><br>
			
			<!-- <input type="checkbox" id="genre6" name="genres" value="HTML">
			<label for="genre6">Law</label><br>

			<input type="checkbox" id="genre7" name="genres" value="HTML">
			<label for="genre7">Education</label><br>

			<input type="checkbox" id="genre8" name="genres" value="HTML">
			<label for="genre8">Biography & Autobiography</label><br>

			<input type="checkbox" id="genre9" name="genres" value="HTML">
			<label for="genre9">Religion</label><br>

			<input type="checkbox" id="genre10" name="genres" value="HTML">
			<label for="genre10">Performing Arts</label><br>

			<input type="checkbox" id="genre11" name="genres" value="HTML">
			<label for="genre11">Social Science</label><br>

			<input type="checkbox" id="genre12" name="genres" value="HTML">
			<label for="genre12">Psychology</label><br>

			<input type="checkbox" id="genre13" name="genres" value="HTML">
			<label for="genre13">Literary Criticism</label><br>

			<input type="checkbox" id="genre14" name="genres" value="HTML">
			<label for="genr14">Reference</label><br>

			<input type="checkbox" id="genre15" name="genres" value="HTML">
			<label for="genre15">Medical</label><br>

			<input type="checkbox" id="genre16" name="genres" value="HTML">
			<label for="genre16">Technology & Engineering</label><br>

			<input type="checkbox" id="genre17" name="genres" value="HTML">
			<label for="genre17">Science</label><br>

			<input type="checkbox" id="genre18" name="genres" value="HTML">
			<label for="genre18">Music</label><br>

			<input type="checkbox" id="genre19" name="genres" value="HTML">
			<label for="genre19">Geology</label><br>

			<input type="checkbox" id="genre20" name="genres" value="HTML">
			<label for="genre20">Philosophy</label><br> -->

			<button type="submit" id="button" disabled>Register</button><br><br>
			<label for="button" id="buttonlabel"></label>
		</div>
	</form>

</body>

</html>