<% if (items) { %>

  <!-- Creating cards -->

  <% items.forEach(item=> { %>
    <div class='card'>
        <div class='card-body'>
            Title: <%- item.title %>
            Rating: <%- item.rating %>
        </div>
      </div>
  <% }) %>
<% } %>