<!-- Anna - Autopopulating cards on the Home Page -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<% if (items) { %>

  <!-- Creating cards -->

  <% items.forEach(item=> { %>
    <div class='card'>
      <div class="card-body">
        <h5 class='card-title'>
            Title: <%- item.title %>
        </h5>
        <h5 class='card-text'>
            Genre: <%- item.category %>
        </h5>
      </div>
    </div>
  <% }) %>
<% } %>