<!-- Anna Rahn - Search Page -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Search Page</title>

<body style="background-color:rgb(206, 245, 202);">
    <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon' />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="../resources/css/my_style.css" rel="stylesheet">
    </head>

    <body>
        <%- include('header'); -%>
        <div class="container">
            <h1 style="text-align:center">Search</h1> <br><br>
            <div class="container">
                <div class="row blog">
                    <div class="col-md-12">       
                    
        <!-- Anna - Autopopulating cards on the Home Page -->
        <form id="form" method="get" action="" onsubmit="getSearchInformation(this)">
          <input type="text" id="search_input" name="q" placeholder="Search..."/>
          <button id="search_button">Search</button>
      </form>

      Results:
      <%- include('reviews_search'); -%>
      <br>
      <br>
    </body>
</html>

<script>
  function getSearchInformation(selectObject)
  {
    console.log("SEARCH (SCRIPT): ", selectObject);
    document.getElementById("form").action='/search/' + selectObject.value;
    document.getElementById("form").submit();
  }
</script>